body{
	margin: 0px;
	padding: 0px;
	background-image: url('test.jpg');
}
h1{
	padding-top: 100px;
	padding-left: 40%;
	font-family: 'press2p';
	color: white;
	font-size: 40px;

}

/* LINK */
a.menu{
	position: absolute;
	font-family: 'press2p';
	color: white;
	text-decoration: none;
	font-size: 30px;

	padding-left: 67%;
	margin-top: 50px;

	display: inline-block;
}
a.menu:hover{
 	animation: Test 1s infinite;
}

/* P */
p{
	position: absolute;
	font-family: 'press2p';
	color: white;
	text-decoration: none;
	font-size: 20px;

	margin-left: 5%;
	margin-top: 12%;

	display: inline-block;
	text-align: center;
	Line-Height: 1.5;
}
/* IMG */	

img.nutstick{
	position: absolute;
	margin-left: 5%;
	margin-top: 0%;
	width: 40%;
}
img.photo{
	position: relative;
	display: inline-block;
	width: 12%;
	margin-left: 40%;
	margin-top: 11%;
	border-style: solid;
	border-width: 3px;
	border-color: black;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}



/* ANIMATION */
h1{
    animation: Test 1s infinite;
}
@keyframes Test{
    0%{opacity: 1;}
    50%{opacity: 0;}
    100%{opacity: 1;}
}


/* FONT */
@font-face{
	font-family: 'press2p';
	src: url('../font/pressStart2p.ttf');
}